.bnt__first {
  width: 170px;
  height: 40px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.142;
  &:hover{
    background: #F13C6E;
    cursor: pointer;
  }
}

.bnt__first-filled{
  width: 170px;
  min-height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background: #F13C6E;;
  font-size: 14px;
  line-height: 1.142;
}