.header__top{
  background: #EFEFEF;
  padding-top: 17px;
  padding-bottom: 17px;
}
.top__list{
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;

  &-link{
    color: var(--dark-text);
    line-height: 1.142;
    &:hover{
      color: #F13C6E;
      font-weight: 500;
    }
  }
}

/*header-mid*/

.header_mid{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #EFEFEF;
}
.header__contacts{
  display: flex;
  gap: 40px;
  align-items: center;
  &-tel{
    font-size: 16px;
    line-height: 1.187;
    color: #000000;
  }
}
