.offers{
  padding-top: 80px;
  padding-bottom: 100px;
  &__title{
    margin-bottom: 40px;
  }
}

.offers__content {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.offers__item{
  max-width: 255px;
  background: #FFFFFF;
  &-img{
    padding: 25px 65px 0 65px;
  }
  &-description{
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
  }
}